*{
    margin: 0;
    padding: 0;
}

html{
    margin: 0 auto;
    padding: 0;
    height: 100%;
    width:100%;
}

body{
    height: 100%;
    width: 100%;
}

.menu{
    height: 10%;
    font-size: 20pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    position: fixed;
    flex-wrap: wrap;
    top: 0;
    width: 100%;
    z-index: 100;
}

.menuitem{
    text-decoration: none;
    align-content: center;
    color: white;
    height: 100%;
    width: 100%;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.menuitem:visited{
    color: white;
}

.ini{
    border-radius: 0px 0px 0px 30px;
}

.loginItem{
    border-radius: 0px 0px 30px 0px;
}

.menuitem:hover{
    background-color: rgb(190, 218, 225);
    -moz-transition:all .3s ease;
	transition:all .3s ease;
}

.menu ul{
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.mainmenu{
    background-color: rgb(190, 228, 231);
    height: 100%;
    flex-grow: 3;
    border-radius: 0px 0px 0px 30px;
}

.menulog{
    background-color: rgb(190, 228, 231);
    height: 100%;
    flex-grow: 1;
    margin-left: 5px;
    border-radius: 0px 0px 30px 0px;
}

#userInfo{
    border-radius: 0px 0px 30px 0px;
    position: relative;
    margin: 0;
    padding: 0;
}

#userInfo:hover .userMenu{
    display: block;
}

.userMenu{
    display: none;
    position: absolute;
    background: rgb(173, 208, 210);
    border-radius: 10px;
    top:100%;
    color: white;
}

.userMenu p{
    background: rgb(173, 208, 210);
    color: white;
    margin-bottom: 10px;
    border-radius: 0px;
}

.userMenu p:last-child{
    margin-bottom: 0px;
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
}

.userMenu p:first-child{
    border-radius: 10px 10px 0px 0px;
}

.userMenu p:hover{
    background: rgb(125, 151, 152);
}

.userMenu a{
    text-decoration: none;
    color: white;
}

.logFrame{
    height: fit-content;
}

.cartMenu{
    background: rgb(149, 199, 194);
    color: white;
    position: absolute;
    text-align: center;
    top:100%;
    display: none;
    right: 0%;
    user-select: none;
    border-radius: 10px;
    border-spacing: 20px;
    padding: 20px;
}

.cartMenu tr{
    box-shadow: 0 1px 0 rgb(190, 228, 231);
}

.cartMenu tr:last-child{
    box-shadow: 0 0px 0 black;
}

.cart:hover .cartMenu{
    display: block;
}

#cart i:hover .cartMenu{
    display: block;
}

.deleteRequest {
    width: 15%;
    background: rgb(244, 159, 81);
    cursor: pointer;
    border-radius: 5px;
    color: white;
    border-width: 0px;
    scale: 1 / 1;
}

.toBuyEnd{
    text-decoration: none;
    color: white;
    margin-top: 3%;
    background: rgb(244, 159, 81);
    padding: 3%;
    border-radius: 5px;
    transition: all .5s ease-in;
}

.toBuyEnd:visited {
    color: white;
}

.toBuyEnd:hover, .deleteRequest:hover{
    box-shadow: 1px 1px 5px black;
}

.toBuyEnd:active, .deleteRequest:active{
    box-shadow: 1px 1px 5px inset black;
}

.logFrame iframe{
    position: fixed;
    top: 10%;
    right: 0;
    background: white;
    border-radius: 10px;
    border-width: 0px;
    box-shadow: 1px 0px 4px inset rgb(190, 16, 181);
}